[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
get = "python main.py get"
sandbox = "python main.py sandbox"

[packages]
ossapi = "*"
python-dotenv = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
